<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title>Unlock</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
        <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap-grid.min.css"/>
        <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap-reboot.min.css"/>
        <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/static/vendor/hover/css/hover.min.css"/>
        <link rel="stylesheet" href="/static/vendor/mdb/css/mdb.css"/>
        <link rel="stylesheet" href="/static/vendor/fontawesome/font-awesome.min.css"/>
        <link rel="stylesheet" href="/static/style/style.css"/>
        <link rel="stylesheet" href="/static/style/level-2.css"/>
        <link rel="icon" href="/static/favicon.ico"/>
        <meta data-username="{{ username }}" />
    </head>
    
    <body class="scrollable">
        <navbar>
            <h1 class="top-logo">nile</h1>
            <i class="fa fa-long-arrow-right top-logo"></i>
            {% if username == "anonymous" %}
                <a id="sign-up" class="account-option">Sign-Up</a>
                <a id="sign-in" class="account-option">Sign-In</a>
            {% else %}
                <i class="fa fa-user account-option"></i>
            {% endif %}
            <i class="fa fa-shopping-cart"></i>
            <i class="fa fa-circle"></i>
            <h2 id="cart-counter">0</h2>
            <div class="search-bar">
                <input id="search-input" type="text" name="term" placeholder="" /><div id="search-button" class="search fa fa-search"></div>
            </div>
        </navbar>
        
        <form id="nile-sign-up" class="nile-account-form" method="POST" action="https://capstone-brocksmith225.c9users.io/level-2/signup">
            <label>Username</label>
            <input class="nile-account-form-input" name="username" type="text" placeholder="username" />
            <label>Password</label>
            <input class="nile-account-form-input" name="password" type="password" placeholder="password" />
            <input class="btn btn-block nile-account-form-submit" type="submit">
        </form>
        <form id="nile-sign-in" class="nile-account-form" method="POST" action="https://capstone-brocksmith225.c9users.io/level-2/signin">
            <label>Username</label>
            <input class="nile-account-form-input" name="username" type="text" placeholder="username" />
            <label>Password</label>
            <input class="nile-account-form-input" name="password" type="password" placeholder="password" />
            <input class="btn btn-block nile-account-form-submit" type="submit">
        </form>
        
        <div id="items">
            <div class="item"><div class="preview-img" style="background-image: url('/static/img/level-1.png');"></div><h1>This Is One Item For Sale</h1><i class="fa fa-shopping-cart add-to-cart"></i><h2>$17.99</h2></div>
            <div class="item"><div class="preview-img" style="background-image: url('/static/img/placeholder.png');"></div><h1>This Is Another Item For Sale</h1><i class="fa fa-shopping-cart add-to-cart"></i><h2>$1.99</h2></div>
            <div class="item"><div class="preview-img" style="background-image: url('/static/img/logo.svg');"></div><h1>This Is The Last Item For Sale</h1><i class="fa fa-shopping-cart add-to-cart"></i><h2>$1,999.99</h2></div>
            {% for i in range(count-1, -1, -1) %}
                {% autoescape false %}<div class="item"><div class="preview-img" style="background-image: url(&quot;/static/img/nile/items/{{ items[i]['image'] }}&quot;);"></div><h1>{{ items[i]["name"] }}</h1><i class="fa fa-shopping-cart add-to-cart"></i><h2>{{ items[i]["price"] }}</h2></div>{% endautoescape %}
            {% endfor %}
        </div>
        
        <script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script src="/static/vendor/tether/tether-1.3.3/dist/js/tether.min.js"></script>
        <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/vendor/node_modules/convert-hex/convert-hex.js"></script>
        <script src="/static/vendor/node_modules/convert-string/convert-string.js"></script>
        <script src="/static/vendor/node_modules/sha256/lib/sha256.js"></script>
        <script src="/static/vendor/mdb/js/mdb.js"></script>
        <script src="/static/scripts/level-2.js"></script>
    </body>
    
</html>
