body {
    background: url("../img/pursue/pursue-1.JPG");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.pursue-navbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100vw;
    z-index: 2000;
    padding: 10px 20px;
    line-height: 60px;
}

.pursue-navbar-background {
    background-color: #1278cc;
    opacity: 0.6;
    position: fixed;
    display: block;
    width: 100vw;
    height: 80px;
    top: 0;
    left: 0;
}

.pursue-navbar .title {
    font-size: 40px;
    text-transform: uppercase;
    font-family: "Roboto";
    display: inline-block;
    color: white;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    margin-left: calc(50vw - 150px);
}

.pursue-navbar .title h1 {
    display: inline;
    vertical-align: middle;
    height: 60px;
    line-height: 60px;
    color: white;
}

#pursue-logo {
    height: 60px;
    width: 60px;
    vertical-align: middle;
    transform: translateY(-5px);
}

.pursue-user-icon {
    font-size: 45px;
    float: right;
    color: white;
    margin-top: 10px;
    margin-right: 15px;
    cursor: pointer;
}

.pursue-account-center-background {
    opacity: 0.8;
    background-color: #eee;
    width: 60vw;
    height: 70vh;
    position: fixed;
    left: 20vw;
    top: calc(15vh + 40px);
    border-radius: 30px;
    border: 3px solid #888;
}

.pursue-account-center {
    position: fixed;
    width: 60vw;
    height: 70vh;
    left: 20vw;
    top: calc(15vh + 40px);
    border-radius: 30px;
}

.pursue-account-section {
    width: calc(50% - 2px);
    height: 100%;
    display: inline-block;
    padding: 20px;
    float: right;
}

.pursue-account-section:first-child {
    border-right: 3px solid #888;
    float: left;
}

.pursue-account-section h1 {
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid #292b2c;
    padding-bottom: 5px;
    font-size: 3vw;
    overflow-y: hidden;
}

.pursue-account-section label {
    font-size: 1.5vw;
    display: block;
    width: 100%;
}

.pursue-account-section input {
    display: block;
    width: 100%;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 1.2vw;
}

.pursue-account-section input:focus,
.pursue-account-section input:active {
    outline: none;
    background-color: white;
    box-shadow: -3px 0px rgb(2, 117, 216);
}

.pursue-account-section input[type="submit"] {
    text-transform: uppercase;
}