body {
    margin: 0;
}

.nav {
    background-color: #234e76;
    width: 100vw;
    height: 120px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 40px;
}

.nav .sir-logo {
    height: 50px;
    width: 60px;
    margin-top: 20px;
}

.nav h1 {
    font-family: serif;
    color: white;
    font-size: 60px;
    margin: 0;
    line-height: 50px;
    height: 60px;
    margin-top: 23px;
    margin-left: 30px;
}

.lower-nav {
    background-color: #e0e0e0;
    width: 100vw;
    height: 70px;
    position: absolute;
    left: 0;
    top: 120px;
    text-align: center;
}

.nav-item {
    min-width: 160px;
    font-size: 25px;
    line-height: 25px;
    font-weight: 500;
    padding: 22px 20px;
    display: inline-block;
    height: 70px;
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
    cursor: pointer;
}

.nav-item:hover {
    background-color: #fdfdfd;
}

.banner {
    position: absolute;
    left: 0;
    top: 190px;
    width: 100vw;
    z-index: 0;
    display: block;
}

.sir-center {
    position: absolute;
    top: 250px;
    left: 10vw;
    width: 80vw;
    height: 500px;
    background-color: #f2f2f2;
    z-index: 100;
    font-size: 180px;
    vertical-align: middle;
}

.sir-login {
    display: inline-block;
    width: 50%;
    height: 500px;
    padding: 30px 15px 50px 30px;
    vertical-align: middle;
}

.sir-create-account {
    display: inline-block;
    width: 50%;
    height: 500px;
    padding: 30px 30px 50px 15px;
    vertical-align: middle;
}

.sir-form h1 {
    text-align: center;
    color: #227dae;
    margin-bottom: 20px;
    font-size: 45px;
}

.sir-form input {
    font-size: 25px;
    padding: 15px 20px;
    background-color: white;
    display: block;
    width: 100%;
    color: #227dae;
    box-shadow: 4px 4px 8px #ccc;
    border: 1px solid #aaa;
    margin: 0;
    margin-bottom: 25px;
}

.sir-form input[type="submit"] {
    cursor: pointer;
}

.sir-form input:hover {
    background-color: #f6f6f6;
}

.sir-form input::placeholder {
    color: #227dae;
}

.sir-form input:active,
.sir-form input:focus {
    box-shadow: 4px 4px 8px #ccc;
}

.sir-form .input-block {
    font-size: 25px;
    padding: 15px 20px;
    background-color: white;
    display: block;
    width: 100%;
    color: white;
    box-shadow: 4px 4px 8px #ccc;
    border: 1px solid #aaa;
    margin: 0;
    margin-bottom: 25px;
}